.hex-logo {
  display: flex;
  min-height: 80px;
  align-items: center;
}

.hex-logo-icon {
  width: 60px;
}

.hex-logo-text {
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: @font_size_xlarge;
}
